# Desktop files for Mac and Windows
.DS_Store
desktop.ini

# Byte-compiled Python scripts
__pycache__/

# Modules folder used by NodeJS
node_modules

# The final product (should be packaged locally)
release_builds/

# Compiled version of the chatbot (should be compiled locally)
bin/

# The chatbot symptoms data and brain file (should be gotten and compiled locally)
symptoms.json
brain.brn
