# HEY GUYS, DO NOT TOUCH PLEASE, we need this :(

# Byte-compiled Python scripts
__pycache__/

# Modules folder used by NodeJS
node_modules

# Annoying desktop files for Mac and Windows
.DS_Store
desktop.ini

# Compiled version of the chatbot Python script (should be compiled locally)
dist/

# The chatbot Python script brain file (should be compiled locally)
brain.brn

# !!!!!!!!!!!! ^^ READ UP TOP ^^ !!!!!!!!!!!!
