body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background: url("../img/bg.jpg") no-repeat fixed center center;
    background-size: cover;
    background-color: rgb(200, 200, 200);
}

.main-menu {
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%; 
    position: absolute;
    list-style-type: none;
    background-color: #333333;
}

.main-menu > li {
    display: inline-block;
}

.main-menu > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 14px;
}

.main-menu > li a:hover {
    background-color: #111111;
}

.flex-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.interface-container {
    width: 600px;
    height: 700px;
}

.interface-container > div {
    width: 100%;
}

.bot {
    height: 60%;
    background-color: black;
}

.chat {
    height: 40%;
    background-color: #222222;
}

.chatlog {
    height: 85%;
}

.input-container {
    height: 15%;
    position: relative;
    background-color: #52c50f;
}

.user-input {
    border: none;
    resize: none;
    padding: 5px 10px;
    height: 100%;
    width: calc(100% - 50px);
    font-size: 20px;
    color: #000000;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #dddddd;
}

.user-input:focus {
    outline: none;
}

.user-submit {
    position: absolute;
    width: 30px;
    right: 10px;
    top: calc(50% - 15px);
}